<div class="jumbotron">
  <div class="container text-center">
    <% if @account.present? %>
      <h4>Your pin is:</h4>
      <h1><%= @account.pin %></h1>

      <button type="button" class="btn btn-primary js-notifications-btn" disabled>
        Enable notifications on this device
      </button>
    <% else %>
      <h1>Browser notifications example</h1>
      <br>

      <%= link_to "Generate account", accounts_path, method: :post, class: "btn btn-primary btn-lg" %>
      <%= link_to "Connect to account", new_connection_path, class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
</div>

<% if @account.present? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <iframe src="<%= devices_path %>" id="devices-iframe" frameborder="0"></iframe>
      </div>

      <div class="col-sm-6">
        <h2 class="h3">Send a message</h2>

        <%= render "messages/form", message: @message %>
      </div>
    </div>
  </div>
<% end %>
